<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{!-- google font --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    {{!-- noramlize --}}
    <link rel="stylesheet" href="css/normalize.css">

    {{!-- custom css --}}
    <link rel="stylesheet" href="css/styles.css">

    {{!-- client javascipt --}}
    <script src="js/client.js" defer></script>
</head>

<body>
    <header class="main-header">
        <div class="container">
            <a href="/">
                <h1>Logo</h1>
            </a>

            <nav>

                <a href="/">Home</a>

                {{#if isLoggedIn}}

                <a href="/proofil">Profile</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                {{/if}}

            </nav>
        </div>
    </header>