{{>header}}
<section id="login">
    <div class="container">
        <h1 class="title">Login</h1>

        <form action="" class="main-form">
            <input type="text" name="email" placeholder="email" class="email">
            <input type="text" name="password" placeholder="password" class="password">
            <p class="error"> </p>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{{>footer}}