{{>header}}
<section id="register">
    <div class="container">
        <h1 class="title">Register</h1>

        <form action="" class="main-form">
            <input type="text" placeholder="first name" name="firstname">
            <input type="text" placeholder="last name" name="lastname">
            <input type="text" placeholder="email" name="email">
            <input type="text" placeholder="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{{>footer}}