{{>header}}
<section id="register">
    <div class="container">
        <h1 class="title">Register</h1>

        <form action="" class="main-form">
            <input type="text" placeholder="first name" name="firstname" class="firstname">
            <p class="error error-firstname"></p>
            <input type="text" placeholder="last name" name="lastname" class="lastname">
            <p class="error error-lastname"></p>
            <input type="text" placeholder="email" name="email" class="email">
            <p class="error error-email"></p>
            <input type="text" placeholder="password" name="password" class="password">
            <p class="error error-password"></p>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{{>footer}}