/* default styling */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}


h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

 a {
   text-decoration: none;
   color: black;
 }

 button {
   outline: none;
   border: none;
 }

/* default layout */
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto
}

/* general styling */
.title {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: capitalize
}


.error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
/* main header */
.main-header {
  padding: 2rem 0rem;
}
.main-header .container {
  display:  flex;
  align-items: center;
  justify-content:space-between;
}

.main-header .container h1 {
  text-transform: uppercase;
}
.main-header .container nav a {
  margin-left: 1rem;
}

.main-header .menu {
  font-size: 1.8rem;
  opacity: 0.8;
  cursor: pointer;
  display: none;
}

/* main form */
.main-form {
  width: 540px;
  max-width: 90%;
  margin: 0 auto;
}
.main-form  input  {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem 0rem;
  text-indent: 20px;
  font-size: 1.2rem

}

.main-form button {
  display: block;
  padding: 0.8rem;
  width: 100%;
  cursor: pointer;
  background: black;
  color: white;
}


/* footer */

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0
}



/* landing */
#landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#landing video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#landing .main-header {
  position: absolute;
  top: 0;
  width: 100vw; 
  z-index: 8000;
}


#landing .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}




#landing .main-header nav a,
#landing .main-header h1
{
  color: white;
}

#landing .content {
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  color: white;
  text-align: center;
  z-index: 100000
}

#landing .slug {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#landing  .content a {
  font-size: 1.2rem;
  color: white;
  display: inline-block;
  background: transparent; 
  padding: 0.8rem 3rem;
  border: 1px solid white;
  transition: all ease-in-out 300ms;
}
#landing .content a:hover {
  background: white;
  color: black;
}




/* media queries */
@media(max-width: 650px) {
  .main-header  nav {
    display: none;
  }
  .main-header .menu {
    display: block;
  }
  .main-header h1 {
    font-size: 1.4rem;
    t
  }

  #landing .main-header .menu {
    display: block;
    color: white;
  }

  
}